<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block header %} {% include 'header.html.twig' %} {% endblock %}
    </head>
    <body>
        {% block navbar %} {% include 'navbar.html.twig '%} {% endblock %}
        {% block content %} {% endblock %}
    </body>
</html>
